/*.wrapper {*/
/*    min-height: 100%;*/
/*    display: -webkit-box;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -webkit-box-orient: vertical;*/
/*    -webkit-box-direction: normal;*/
/*    -ms-flex-direction: column;*/
/*    flex-direction: column;*/
/*}*/

/*.content {*/
/*    -webkit-box-flex: 1;*/
/*    -ms-flex: 1 1 auto;*/
/*    flex: 1 1 auto;*/
/*}*/

/*.container {*/
/*    max-width: 1300px;*/
/*    margin: 0 auto;*/
/*    padding: 0 15px;*/
/*}*/

.header {
    padding: 20px;
}

.menu__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu__logo {
    display: inline-block;
    width: 125px;
    height: 50px;
    min-width: 140px;
    background: url("../img/pharmacy/kisspng-mortar-and-pestle-logo-design-pharmacy-herbal-medicine-clinic-health-food-and-more-5d39a7e823cde7.1143271015640596241467.png") center/contain no-repeat;
    margin-right: 5%;
}

.menu__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.menu__options .option {
    margin: 0 10px;
    line-height: 40px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    font-style: normal;
    color: #464646;
}

.menu__options .option:hover {
    color: #000;
    text-shadow: 1px 2px 2px #606e7e;
}

.menu__options .option:active {
    color: white;
    text-shadow: 2px 2px 8px #000;
}

@media (max-width: 768px) {
    .menu__options {
        display: none;
    }
}

.menu__cart {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url("../img/cart.png") center/30px 30px no-repeat;
    margin-left: 15px;
}

.menu__cart:hover {
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
    background-color: #8aedff;
    outline: 1px solid #000;
    border-radius: 7px;
    -webkit-box-shadow: 0px 3px 3px #000;
    box-shadow: 0px 3px 3px #000;
}

.menu__cart:active {
    position: relative;
    top: 3px;
    background-color: #01c0ff;
    -webkit-box-shadow: 0px 2px 1px #000;
    box-shadow: 0px 2px 1px #000;
}

.menu__icon {
    display: none;
}

@media (max-width: 768px) {
    .menu__icon {
        display: block;
        width: 28px;
        margin-left: 20px;
    }
}

.menu__options .active {
    color: #0123ff;
    font-size: 19px;
    text-shadow: 2px 2px 6px #1f7df8;
}