
.single-product .btn {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    border-radius: 24px;
    -webkit-box-shadow: 0px 5px 1px #000;
    box-shadow: 0px 5px 1px #000;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 0 30px;
    margin-bottom: 30px;
    letter-spacing: 2.8px;
}

.single-product .btn span {
    background: url("../img/arrow.svg") right no-repeat;
    padding: 0 30px 0 0;
}

.single-product .btn:hover {
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.single-product .btn:active {
    position: relative;
    top: 3px;
    -webkit-box-shadow: 0px 2px 1px #000;
    box-shadow: 0px 2px 1px #000;
}

.all_products__in__details {
    padding: 0 20px;
    margin-bottom: 30px;
    margin-bottom: 30px;
}

.all_products__in__details #all_products__in__details__item_title {
    margin-bottom: 20px;
}

.item_title {
    text-align: center;
    font-size: 24px;
    line-height: 20px;
    font-weight: 700;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 0.7px;
    color: #464646;
}

.all_products__in__details__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 50px auto 30px;
}

/* -------------- single-product ----------------- */
.single-product {
    padding: 7% 10% 0 10%;
    margin-bottom: 70px;
}

.single-product__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

.single-product__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.single-product__form1 {
    width: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    border: 2px solid #464646;
    border-radius: 5px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    white-space: nowrap;
    overflow: hidden;
}

.single-product__form1 #hidden {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.4s, opacity 0.5s ease;
    transition: visibility 0.4s, opacity 0.5s ease;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.single-product__form1:hover {
    width: 200px;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.single-product__form1:hover #hidden {
    visibility: visible;
    opacity: 1;
}

.single-product__form2 {
    display: inline-block;
}

.single-product__form2 input {
    width: 40px;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #f80000;
}

.single-product__col1 {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

@media (max-width: 895px) {
    .single-product__col1 {
        -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
        -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    }
}

.single-product__col2 {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
}

@media (max-width: 895px) {
    .single-product__col2 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

.single-product__image {
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.single-product__image img {
    max-width: 100%;
}

.single-product__body {
    padding: 10px 15px 0 15px;
}

.single-product__subtitle {
    margin-right: 20px;
    color: #464646;
    font-size: 15px;
}

.single-product__title {
    color: #464646;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 800;
}

.single-product__price {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fe702e;
    letter-spacing: 0.2px;
}

.single-product .input_label {
    color: #fe702e;
    font-size: 15px;
    font-weight: 600;
    margin-right: 4px;
}

.single-product #input_label__modificator {
    display: inline-block;
    margin-bottom: 30px;
}

.single-product #btn0 {
    background-color: #fe702e;
    border-radius: 5px;
    padding: 0 8px;
}

.single-product #btn0:hover {
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    background-color: #606e7e;
}

.single-product #btn0:active {
    background-color: #f80000;
}

.single-product .btn {
    background-color: #fe702e;
    font-size: 16px;
}

.single-product .btn:hover {
    background-color: #7237fc;
}

.single-product .btn:active {
    background-color: #d0d0d0;
}

.single-product__details {
    min-width: 200px;
    margin: 20px 0 10px 0;
    border: 2px solid #fe702e;
    border-radius: 5px;
    padding: 5px;
    color: #000;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}

.single-product__details_text {
    margin-bottom: 20px;
    padding: 10px;
    color: #464646;
    font-size: 14px;
    font-weight: 800;
}