
/*.product__col {*/
/*    display: block;*/
/*    -ms-flex-preferred-size: 25%;*/
/*    flex-basis: 25%;*/
/*    padding: 13px;*/
/*    margin-bottom: 30px;*/
/*    position: relative;*/
/*    top: 0;*/
/*    -webkit-transition: top ease 0.5s;*/
/*    transition: top ease 0.5s;*/
/*}*/

/*.product__col:hover {*/
/*    top: -10px;*/
/*    bottom: 15px;*/
/*    -webkit-box-shadow: 1px 2px 15px #464646;*/
/*    box-shadow: 1px 2px 15px #464646;*/
/*    border-radius: 15px;*/
/*}*/

/*.product__col:hover .product-name, .product__col:hover .product-price {*/
/*    font-weight: 800;*/
/*}*/

/*.product__col:active {*/
/*    -webkit-box-shadow: 1px 2px 15px #29e0d1;*/
/*    box-shadow: 1px 2px 15px #29e0d1;*/
/*}*/

/*@media (max-width: 768px) {*/
/*    .product__col {*/
/*        -ms-flex-preferred-size: 50%;*/
/*        flex-basis: 50%;*/
/*    }*/
/*}*/

/*.product__col .product__image {*/
/*    padding: 0 0 100% 0;*/
/*    position: relative;*/
/*    margin-bottom: 20px;*/
/*    overflow: hidden;*/
/*}*/

/*.product__col .product__image img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    -o-object-fit: contain;*/
/*    object-fit: contain;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    border-radius: 17px;*/
/*}*/

/*.product__col .product-name {*/
/*    color: #464646;*/
/*    margin-bottom: 10px;*/
/*    font-size: 18px;*/
/*    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
/*}*/

/*.product__col .product-price {*/
/*    margin-bottom: 10px;*/
/*    font-size: 20px;*/
/*    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
/*    font-weight: 700;*/
/*    color: #fe702e;*/
/*    letter-spacing: 0.4px;*/
/*}*/

.cart-page {
    margin-bottom: auto;
}

.cart-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cart-text p{
    font-weight: 700;
}
.main_table {
    width: 100%;
    border-collapse: collapse;
}

.main_table__col_name {
    text-align: left;
    padding: 5px;
    color: white;
    background-color: #b094f1;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.main_table__data {
    padding: 10px 5px;
}

.main_table__data input {
    display: block;
    width: 40px;
    height: 30px;
    padding: 5px;
    /*background-color: #8ee3ff;*/
    border: 2px solid #525252;
    /*border-radius: 8px;*/
    /*padding: 10px 0;*/
}

.main_table__data button {
    display: block;
    color: #005bff;
    font-size: 12px;
    background-color: #8ee3ff;
    border-radius: 10px;
    padding: 3px 5px;
    margin: 10px 0 0 10px;
    font-weight: 700;

}

.main_table__data button:hover {
    color: #f80000;
    background-color: #ff8f8f;
}

.main_table__data img {

    width: 50px;
    /*height: 70px;*/
    margin-right: 10px;
}

.total-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #b094f1;
    width: 100%;
    max-width: 33%;
}

.main_table__data:last-child, th:last-child {
    text-align: right;
}

@media (max-width: 600px) {
    .cart-info small {
        display: none;
    }
}

.product__row{
    /*background-color: #8ee3ff;*/
    /*border: 2px solid #525252;*/
    /*border-radius: 8px;*/
    /*padding: 10px 0;*/

}